<h2>{{hero.name | lowercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
    <label for="name">Hero name: </label>
    <input id="name" placeholder="name" [(ngModel)]="hero.name">
    <button (click)="print()">Print Hero Object</button>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let item of heroes;let i=index">
        <span class="badge">{{item.id}}</span> {{item.name}}
        <button type="button" (click)="onSelect(item)"></button>
        <!-- <input [value]="item.name" (change)="onChange($event,i)"> -->
    </li>

</ul>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>id: {{selectedHero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
</div>